$logo-main-color: #000000;
$title-text: #212121;
$main-text: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$bg-secondary-color: #f5f4fa;
$bg-black-color: #2f303a;
$footer-link-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);